#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App styles */
.mainHeader {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  background-color: #282727;
  color: white;
}

.headerText {
  font-size: 24px;
  margin: 0px 10px;
}

.passageLogo {
  background-image: url("https://storage.googleapis.com/passage-docs/passage-logo-dark.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.link {
  margin-left: 20px;
  color: white;
  text-decoration-color: white;
}

.mainContainer {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 310px;
  min-height: 310px;
  margin: 30px auto;
}
.footer {
  text-align: center;
  font-size: 18px;
}

.dashboard {
  padding: 30px 30px 20px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.message {
  overflow-wrap: anywhere;
}
.dashboard .link {
  color: black;
  text-decoration-color: black;
}
